/* ==== HEADER ==== */
.icon {
    color: var(--primaire-title);
    font-size: var(--size-title);
    text-decoration: none;
}

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.index :nth-child(1) { order: 1;}
.index :nth-child(2) { order: 2;}
.index :nth-child(3) { order: 3;}

@media screen and (max-width: 1200px) {
  .index :nth-child(2) { order: 3;}
  .index :nth-child(3) { order: 2;}
}

.index__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .index__tag {
    margin-top: 20px;
  }
}

.index__title {
    font-size: var(--size-title);
    color: var(--primaire-title);
}

@media screen and (max-width: 1200px) {
  .index__title {
    font-size: 18px;
  }
}

.bottom {
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--primaire-title);
    margin-right: 2px;
}

/* ==== BODY ==== */
.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 1200px) {
  .users{
    grid-template-columns: 1fr;
  }
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Tuto https://www.webfx.com/blog/web-design/circular-images-css/ */
/* .user__portrait {
  width:200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} */

.image-cropper {
  width:200px;
  height: 200px;
  border-radius: 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  object-fit: cover;
}

.user__address {
  color: var(--secondaire-3);
}

.user__price {
  color: #757575;
}

h2 {
  color: var(--primaire-subtitle);
}

.user__tags {
  display: flex;
}

/* TODO Il faudra faire mieux au sujet des paddings */
.user__tag {
  border: 1px solid #C4C4C4;
  border-radius: 25px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primaire-title);
}

a {
  text-decoration: none;
  color: inherit;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}