.menu_bot_right {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 2rem;
    border-radius: 0.3rem;
    background-color: #DB8876;
    padding: 20px;
    width: 250px;
    justify-content: space-around;
    font-weight: bold;
}