.container {
    margin: 20px 100px 0 100px;
}

/* ### Banner ### */

.Jumbotron {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    padding: 50px;
}

.user__name {
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--primaire-subtitle);
}

.icon {
    color: var(--primaire-title);
    font-size: var(--size-title);
    text-decoration: none;
}

.card {
    display: flex;
}

.card-body {
    margin-right: 20px;
}

.card-pic {
    margin-left: auto;
}

.card-buttom {
    background-color: var(--secondaire-3);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.image-cropper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

/* ### Filter ### */

.media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-template-rows: repeat(4, 400px);
    position: relative;
}

@media screen and (max-width: 1200px) {
    .media {
      grid-template-columns: 1fr;
    }
}

.image-rectangle {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-rectangle {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    display: flex;
    justify-content: space-between;
    color : var(--secondaire-3);
    font-size: 24px;
}

/* Menu déroulant */

.filter {
    display: flex;
    margin-bottom: 20px;
}

.text-filter {
    margin-right: 20px;
}
.nav-filter {
    display: inline-block;
    background-color: var(--secondaire-3);
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    color: white;
}

.nav-filter:hover {
    border-radius: 10px 10px 0 0;
}

.nav-item {
    background-color: var(--secondaire-3);
}

.nav-item:before {
    content : "";
    position: absolute;
    left    : 5%;
    height  : 0;
    width   : 90%;
    border-top: 1px solid white;
}

.nav-item:last-child {
    border-radius: 0 0 10px 10px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 100px;
}

.nav-main {
    list-style-type: none;
 }

.nav-sub {
    display: none;
}

.nav-main:hover .nav-sub {
    display: block;
    z-index: 1;
    position: absolute;
}

li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;

}