.container {
    margin: 20px 50px 0 50px;
}

/* ### Banner ### */

.Jumbotron {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    padding: 50px;
}

.user__name {
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--primaire-subtitle);
}

.icon {
    color: var(--primaire-title);
    font-size: var(--size-title);
    text-decoration: none;
}

.card {
    display: flex;
}

.card-body {
    margin-right: 20px;
}

.card-pic {
    margin-left: auto;
}

.card-buttom {
    background-color: var(--secondaire-3);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.image-cropper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

/* ### Filter ### */

.media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .media {
      grid-template-columns: 1fr;
    }
}

.image-rectangle {
    border-radius: 5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.video-rectangle {
    border-radius: 5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-text {
    display: flex;
    justify-content: space-around;
}

/* Menu déroulant */

nav {
}

.link {
    display: inline-block;
    text-decoration: none;
}

.nav-main {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
 }

.nav-sub {
    display: none;
}

.nav-main:hover .nav-sub {
    display: block;
    z-index: 1;
    position: relative;
}

li {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    background-color: red;
    list-style-type: none;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;

}

/* li::after {
    content: "";
    display: block;
    clear: both;
} */

/* nav li:hover .nav-sub {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 0%;
    z-index: 1;
} */