@font-face {
  font-family: DM Sans;
  src: local('DMSans-Regular'), url("fonts/DMSans-Regular.ttf") format('ttf');
}

body,
html {
    margin: 0;
    font-family: DM Sans, sans-serif;
}

:root {
  --primaire-title: #911C1C;
  --primaire-subtitle: #D3573C;
  --secondaire-1: #D3573C;
  --secondaire-2: #FAFAFA;
  --secondaire-3: #901C1C;
  --size-title: 36px;
}